.checkOutNavBar {
  min-height: 42px;
  width: 100%;
  background-color: #4dbf9e;
}

.checkOutNavBarItems {
  display: flex;
  gap: 2px;
}

.navBarLeft {
  display: flex;
  height: 35px;
  width: 50%;
}

.healthMugLogoCP {
  margin-left: 12%;
  width: 100%;
  margin-top: 1%;
  margin-right: 2%;
}

#logoCP {
  height: 90%;
}
.needHelp {
  height: 10px;
  font-size: 11px;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  margin-right: 40%;
  margin-top: 2%;
  width: 750px;
}

.navBarRight {
  /* display: inline-block; */
  height: 35px;
  width: 50%;
  /* border: 1px solid blue; */
  align-items: center;
}

.rightInner {
  display: flex;
  /* width: 121px; */
  /* margin-left: 5%; */
  margin-top: 1%;
  color: rgb(179, 245, 204);
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

.rightInner > div {
  /* border-shadow: 1px solid white; */
  height: 24px;
  width: 121px;
  margin-right: 10px;
  /* padding: 8px 10px; */
}

.innerBlockRight {
  display: flex;
}

.fafe {
  font-size: 19px;
  margin-right: 12px;
}

.fafeText {
  font-size: 10px;
  font-weight: 600;
}

.formCP {
  display: block;
  height: 570px;
  width: 900px;
  margin: auto;
  margin-top: 2%;
  box-shadow: 20px 20px 50px 10px lightgray;
}

.mailSectionParent {
  display: inline-block;
}

.mailSection {
  display: block;
  height: 64px;
  width: 900px;
}
/* 
  .mailSection :hover {
    background-color: lightgray;
  } */

.firstCP {
  display: inline-block;
  height: 37px;
  width: 900px;
  background-color: hsl(32, 96%, 50%);
  margin-top: 3px;
}
.firstCP p {
  /* margin-left: 15%; */
  line-height: 0px;
  font-family: Roboto, sans-serif;
  font-size: 16 px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

/* Used for check Tick Mark */

.firstCP p span {
  font-size: 24px;
  font-weight: 700;
}

.emailIdCP {
  display: inline-block;
  width: 220px;
  height: 24px;
  /* border: 1px solid red; */
  margin-left: 2%;
}

.emailIdCP span {
  font-size: 15px;
  line-height: 21.4286px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

.mailValue {
  display: inline-block;
  height: 24px;
  width: 410px;
  /* border: 1px solid red; */
  /* text-align: center; */
}

.mailValue span {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 15px;
}

.changeMail {
  display: inline-block;
  /* border: 1px solid red; */
  height: 34px;
  width: 106px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.changeMail button {
  background-color: whitesmoke;
  height: 30px;
  border: none;
  /* box-shadow: 15px whitesmoke; */
}

.delvAddr {
  /* display: inline-block; */
  height: 36px;
  width: 900px;
  background-color: hsl(32, 96%, 50%);
  margin-bottom: 2%;
}

.delvAddr p {
  padding-left: 10px;
  padding-top: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.addNewAddr {
  height: 300px;
  width: 970px;
}

#newAddrButton {
  font-family: Roboto, sans-serif;
  background-color: #4dbf9e;
  height: 41px;
  width: 174px;
  color: white;
  font-size: 16px;
  border: none;
  margin-left: 373px;
  margin-top: 10px;
  cursor: pointer;
}

.orderSummary {
  display: inline-block;
  height: 36px;
  width: 900px;
  background-color: hsl(32, 96%, 50%);
  /* margin-bottom: 0 %; */
}

.orderSummary p {
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.orderSummary a {
  text-decoration: none;
  color: white;
}

.copyRight p {
  font-size: 12px;
  color: grey;
  margin-left: 45%;
}

.changeMailCP {
  width: 880px;
  height: 274px;
  /* border: 1px solid red; */
  margin-left: 1%;
}

.logOutCP {
  width: 860px;
  height: 180px;
  /* border: 1px solid blue; */
  margin-left: 1%;
}

.alignLogOut {
  /* margin-left: 45%; */
  font-family: Roboto, sans-serif;
  line-height: 0%;
  text-align: center;
}

.alignLogOut p {
  font-size: 22px;
  font-weight: 400;
  color: rgb(80, 80, 80);
}
#mailIdCP {
  font-size: 12px;
  color: gray;
}

#textCP {
  margin-top: 2%;
  font-size: 13px;
}

.logOutCP button {
  margin-top: 2%;
  height: 34px;
  width: 170px;
  color: white;
  background-color: #4dbf9e;
  border: none;
}

#logOutLink a {
  font-size: 13px;
  color: #4dbf9e;
  text-decoration: none;
}

.alignLogOut h5 {
  color: gray;
}
.logOutBoxIcon {
  display: flex;
  margin-top: 4%;
  margin-left: 4%;
  gap: 2%;
  font-family: Roboto, sans-serif;
}
.logOutBoxIcon > div {
  /* border: 1px solid red; */
  height: 40px;
  width: 267px;
}

.fafeIconCP i {
  font-size: 28px;
  color: gray;
}
.fafeIconCP span {
  font-size: 10px;
  color: gray;
  margin-left: 25%;
}

.iconCP {
  padding-top: 2%;
  text-align: center;
}
