.checkOutNavBar {
    min-height: 42px;
    width: 100%;
    background-color: #4dbf9e;
}

.checkOutNavBarItems {
    display: flex;
    gap: 2px;
}

.navBarLeft {
    display: flex;
    height: 35px;
    width: 50%;
}

.healthMugLogoCP {
    margin-left: 12%;
    width: 100%;
    margin-top: 1%;
    margin-right: 2%;
}

#logoCP {
    height: 90%;
}

.needHelp {
    max-height: 10px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    margin-right: 40%;
    margin-top: 2%;
    width: 750px;
}

.navBarRight {
    height: 35px;
    width: 50%;
    align-items: center;
}

/* for inner part and right side of navbar */

.rightInner {
    display: flex;
    margin-top: 1%;
    color: rgb(179, 245, 204);
    font-size: 12px;
    font-family: Roboto, sans-serif;
}

.rightInner>div {
    height: 24px;
    width: 121px;
    margin-right: 10px;
}

.innerBlockRight {
    display: flex;
}

.fafe {
    font-size: 19px;
    margin-right: 12px;
}

.fafeText {
    font-size: 10px;
    font-weight: 600;
}

/* End Of NavBar */

.formCP {
    display: block;
    width: 970px;
    margin: auto;
    margin-top: 2%;
    /* box-shadow: 20px 20px 50px 10px lightgray; */
}

.mailSectionParent {
    display: inline-block;
}

.mailSection {
    display: block;
    height: 64px;
    width: 970px;
}


.firstCP {
    display: inline-block;
    height: 37px;
    width: 60px;
    background-color: hsl(32, 96%, 50%);
    margin-top: 3px;
}

.firstCP p {
    margin-left: 15%;
    line-height: 0px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

/* Used for check Tick Mark */

.firstCP p span {
    font-size: 24px;
    font-weight: 700;
}

.emailIdCP {
    display: inline-block;
    width: 220px;
    height: 24px;
    margin-left: 2%;
}

.emailIdCP span {
    font-size: 15px;
    line-height: 21.4286px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

.mailValue {
    display: inline-block;
    height: 24px;
    width: 410px;
}

.mailValue span {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 15px;
}

.changeMail {
    display: inline-block;
    height: 34px;
    width: 106px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.changeMail button {
    background-color: whitesmoke;
    height: 30px;
    border: none;
}

.delvAddr {
    height: 36px;
    width: 970px;
    background-color: hsl(32, 96%, 50%);
}

.delvAddr p {
    padding-left: 10px;
    padding-top: 10px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.addNewAddr {
    height: 300px;
    min-width: 970px;
}

#newAddrButton {
    font-family: Roboto, sans-serif;
    background-color: #4dbf9e;
    height: 41px;
    width: 174px;
    color: white;
    font-size: 16px;
    border: none;
    margin-left: 373px;
    margin-top: 10px;
    cursor: pointer;
}

#my_id {
    display: none;
}

.orderSummary {
    display: inline-block;
    height: 36px;
    width: 970px;
    background-color: hsl(32, 96%, 50%);
}

.orderSummary p {
    padding-left: 10px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.orderSummary a {
    text-decoration: none;
    color: white;
}

.copyRight p {
    font-size: 12px;
    color: grey;
    margin-left: 45%;
}

#shopping_cart td {
    min-width: 185px;
    border-top: 1px solid #C9C4BD;
}


#shopping_cart>thead {
    color: #C9C4BD;
}

#add_to_cart {
    text-align: center;
    padding-top: 3%;
}

#add_to_cart a {
    text-decoration: none;
    color: black;
}